p {
  margin: 0px;
}
.Brown {
  font-size: 4vh;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background-color: #491516;
  color: #f0ffff;
  font-style: italic;
}
.NameCS {
  font-family: "Lobster", cursive;
}

.ImageBackground {
  background: url(../../assets/images/background.jpg) no-repeat center center;
  background-size: cover;
  height: 60vh;
}

.Button {
  margin-top: 5vh;
}

.Black {
  font-style: italic;
  font-size: 4vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: black;
  color: azure;
  box-shadow: 3px 3px 50px 60px black;
}
.Icon {
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .Black {
    font-size: 3vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  .Brown {
    font-size: 3vh;
  }
}
