p {
  margin: 0px;
}

.Main {
  color: rgb(252, 237, 237);
  font-family: Georgia, serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
}
.Welcome {
  font-style: normal;
}
.Brown {
  padding-top: 7vh;
  padding-bottom: 7vh;
  background-color: #491516;
  color: rgb(252, 237, 237);
  font-style: italic;
}

.ImageBackground {
  background: url(../../assets/images/background.jpg) no-repeat center center;
  background-size: cover;
  height: 60vh;
}
.Button {
  margin-top: 5vh;
  padding: 3vh;
}

.Option {
  display: block;
  text-align: left;
  padding-left: 33vw;
  margin-bottom: 3vh;
}

.Black {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: black;
  color: rgb(252, 237, 237);
  box-shadow: 3px 3px 50px 60px black;
}
.Icon {
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .Main {
    font-size: 3vh;
  }
  .Black {
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  .Option {
    display: block;
    text-align: left;
    padding-left: 15vmin;
  }
}
