<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>
RewriteEngine on
RewriteCond %{HTTP_HOST} !^shop\.
RewriteRule ^(.*)$ https://shop.%{HTTP_HOST}/$1 [R=301,L]
