.SearchPanel {
  padding: 20px;
}
.SearchTitle {
  font-size: 2.3vw;
  margin: 1vh;
  text-align: left;
}
.Input {
  border: 1px solid black;
}

@media screen and (max-width: 900px) {
  .SearchTitle {
    font-size: 4.5vw;
    text-align: center;
  }
}
