body {
  text-align: center;
  background-color: #ff00000e;
}

.SearchPage {
  padding: 30px;
  margin-bottom: 7vh;
}

.Black {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: black;
  color: rgb(252, 237, 237);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.TitleHeader {
  margin: auto;
  font-style: normal;
  font-size: 2vw;
}

.Disabled {
  visibility: hidden;
}

.Brown {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #491516;
  color: rgb(252, 237, 237);
  font-style: italic;
}
.BoxShadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.Icon {
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .TitleHeader {
    font-size: 4.5vw;
  }
}
